<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="http://127.0.0.1:8000/assets/echarts.min.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/assets/themes/chalk.js"></script>

</head>
<body>
    <div id="457811526aa443d2aafffec620596539" class="chart-container" style="width:800px; height:400px;"></div>
    <script>
        var chart_457811526aa443d2aafffec620596539 = echarts.init(
            document.getElementById('457811526aa443d2aafffec620596539'), 'chalk', {renderer: 'canvas'});
        var option_457811526aa443d2aafffec620596539 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "data": [
                5744,
                5868,
                7686,
                7121,
                8934,
                8558,
                8978,
                9851,
                11915,
                17758,
                30478,
                119890,
                208417,
                227788,
                204885,
                189071,
                199744,
                211154,
                179457,
                168178,
                153087,
                156934,
                6199,
                4957,
                3458,
                7067,
                5106,
                6676,
                11383,
                267540,
                201768,
                182918,
                140985,
                137833,
                125045,
                275723,
                187571,
                183491,
                175268,
                142210,
                209981,
                7654,
                10770,
                6753,
                9661,
                8454,
                6102,
                13969,
                573714,
                408595,
                358152,
                440309,
                340526,
                201210,
                294859,
                321153,
                255091,
                264479,
                188493,
                257746,
                206858,
                246753,
                4396,
                4168,
                4268,
                3562,
                7415,
                3708,
                207130,
                210706,
                182128,
                154838,
                107959,
                174391,
                162458,
                243872,
                174174,
                201107,
                158880,
                196358,
                157181,
                195314,
                165011,
                3862,
                3589,
                3871,
                3617,
                184718,
                204960,
                232109,
                216262,
                218624,
                205457,
                170977,
                174397,
                191419,
                207879,
                152146,
                202778,
                202814,
                193378,
                193100,
                322537,
                206202,
                204105
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": false,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 2,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021/03/02",
                "2021/03/03",
                "2021/03/04",
                "2021/03/05",
                "2021/03/08",
                "2021/03/09",
                "2021/03/10",
                "2021/03/11",
                "2021/03/12",
                "2021/03/15",
                "2021/03/16",
                "2021/03/17",
                "2021/03/18",
                "2021/03/19",
                "2021/03/22",
                "2021/03/23",
                "2021/03/24",
                "2021/03/25",
                "2021/03/26",
                "2021/03/29",
                "2021/03/30",
                "2021/03/31",
                "2021/04/01",
                "2021/04/06",
                "2021/04/07",
                "2021/04/08",
                "2021/04/09",
                "2021/04/12",
                "2021/04/13",
                "2021/04/14",
                "2021/04/15",
                "2021/04/16",
                "2021/04/19",
                "2021/04/20",
                "2021/04/21",
                "2021/04/22",
                "2021/04/23",
                "2021/04/26",
                "2021/04/27",
                "2021/04/28",
                "2021/04/29",
                "2021/05/03",
                "2021/05/04",
                "2021/05/05",
                "2021/05/06",
                "2021/05/07",
                "2021/05/10",
                "2021/05/11",
                "2021/05/12",
                "2021/05/13",
                "2021/05/14",
                "2021/05/17",
                "2021/05/18",
                "2021/05/19",
                "2021/05/20",
                "2021/05/21",
                "2021/05/24",
                "2021/05/25",
                "2021/05/26",
                "2021/05/27",
                "2021/05/28",
                "2021/05/31",
                "2021/06/01",
                "2021/06/02",
                "2021/06/03",
                "2021/06/04",
                "2021/06/07",
                "2021/06/08",
                "2021/06/09",
                "2021/06/10",
                "2021/06/11",
                "2021/06/15",
                "2021/06/16",
                "2021/06/17",
                "2021/06/18",
                "2021/06/21",
                "2021/06/22",
                "2021/06/23",
                "2021/06/24",
                "2021/06/25",
                "2021/06/28",
                "2021/06/29",
                "2021/06/30",
                "2021/07/01",
                "2021/07/02",
                "2021/07/05",
                "2021/07/06",
                "2021/07/07",
                "2021/07/08",
                "2021/07/09",
                "2021/07/12",
                "2021/07/13",
                "2021/07/14",
                "2021/07/15",
                "2021/07/16",
                "2021/07/19",
                "2021/07/20",
                "2021/07/21",
                "2021/07/22",
                "2021/07/23",
                "2021/07/26",
                "2021/07/27",
                "2021/07/28",
                "2021/07/29",
                "2021/07/30"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "nameTextStyle": {},
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": false,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 2,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 60,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_457811526aa443d2aafffec620596539.setOption(option_457811526aa443d2aafffec620596539);
    </script>
</body>
</html>
